@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.docu-title {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin-top: 150px;
}

h3 {
  text-align: center;
}

.container-docu {
  margin-left: 120px;
  color: white;
  padding: 20px;
}

.bloc-docu {
  margin-top: 80px;
  color: rgb(235, 235, 235);
  padding: 40px;
  text-align: center;
}

.li-docu {
  list-style: none;
  padding-bottom: 10px;
  text-transform: none;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.li-docu-link {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding: 3px;
}

.li-docu-link:hover {
  text-decoration: underline;
  color: hwb(182 9% 27% / 0.644);
}

.bloc-title {
  font-size: 28px;
  color: white;
  padding: 20px;
  color: hwb(182 9% 27% / 0.644);
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
  text-transform: uppercase;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.docu-text-info {
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: 400;
}

.ul-docu {
  padding: 0;  display: grid;
  justify-self: center;
}

.font {
  font-family: 'Roboto Condensed', sans-serif;
}

.link-docu {
  font-size: 20px;
  text-shadow: 0px 0px 15px black;
  text-align: center;
}

.link-to {
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  color: hwb(182 9% 27% / 0.644);
}

.link-to:hover {
  color: white;
}

.pink {
  color: pink;
}

.yellow {
  color: yellow;
}

.blue {
  color: hwb(182 9% 27% / 0.644);
}

.green {
  color: green;
}

.orange {
  color: orange;
}

@media screen and (min-width: 600px) {
  .docu-text-info {
    font-size: 24px;
    padding: 40px;
  }

  .ul-docu {
    font-size: 20px;
  }

  .font {
    font-size: 20px;
  }
}