.title-use {
  color: white;
  margin-top: 150px;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  text-shadow: 0px 0px 20px rgb(56, 56, 56);
}

.title-utilisation {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  text-shadow: 0px 0px 20px rgb(56, 56, 56);
}